<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>10?</title>
    <style>        
        form {
            text-align: center;
        }
    </style>
</head>
<body>
    <form method="post">
        <p><label>Широта города отправления:</label></p>
        <p><input type="text" id="departureCity" name="lat_dep" required></p>
        <p><label>Долгота города отправления:</label></p>
        <p><input type="text" id="departureCity" name="lon_dep" required></p>
        
        <p><label>Широта города прибытия:</label></p>
        <p><input type="text" id="arrivalCity" name="lat_arr" required></p>
        <p><label>Долгота города прибытия:</label></p>
        <p><input type="text" id="arrivalCity" name="lon_arr" required></p>
        
        <p><button type="submit">Отправить</button></p>
    </form>
</body>
</html>
